{%extends 'base.html'%}
{%block content%}




<ol>
  <li>tag view sorting and find</li>
  -- sorting
  -- find tag
  -- dropdowns? 
  -- count
  -- pagnation 
  <li>doublefaced cards</li>
  --aren't importing properly 
  <li>deck sorting </li>
    -popular
    -archtype
    -colors ? 
    - added 
    - recent 
    - with article. 
<li>deck view type sorting.</li>

  <li>ebbedded youtube</li>
  <li>key card(s) for decks</li>
  --implement engine fetch
  -the most expensive and a mythic. 
  <li>
    build up deck input methods - censor finds Aven Mindcensor</li>
  <li>parse on submission </li>
  <li>ez view for tags</li>
<li>automatic export to modeling with upload</li>
<li>hosting</li>
<li>build up url and functionality. </li>
<p>what can be handled with built in default forms? 
  title 
  format -- dropdown 
  tags inline? or modal
  description -  edit page text area small 

</p>
<p>what can not. Deck modeling on site. (javascript for this?) use card models 
  (drag and drop? ) increment card, add card. Switch to sideboard. </p>
</ol>




{%endblock%}
